* {
	margin: 0;
	padding: 0;
	font-family: "serif";
}
body{
	background-color: #1C1C1F;
}
.thumbnails .details{
	background-color: #1C1C1F;
}
h1{
	color: #A19E86;
	margin: 15px 5px 20px 5px;
}
.grid{
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: 1fr 1fr;
	grid-gap: 10px;
	margin: 10px;
}
.childGrid{
	display: grid;
	grid-template-rows: auto auto;
	width: 210px;
	
}
.childGrid:hover{
	background-color: #2C2C2C;
}
.model{
	display: inline-block;
	color: #D7D2B7;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
}
.modeldiv{
	text-align: center;
	vertical-align: bottom;
	padding-bottom: 15px;
}
.picture{
	width: 210px;
}
.flags{
	display: inline-block;
	padding-right: 5px;
}
.level{
	display: inline-block;
	color: #A19E86;
	font-size: 18px;
	font-weight: bold;
	padding-right: 5px;
}
.detailsGrid{
	display: grid;
	grid-template-columns: 1fr 3fr;
}
h2{
	color: #A19E86;
	margin-bottom: 15px;
}
a{
	color: #A19E86;
	text-decoration: none;
}
table{
	width: 100%;
	color: #D7D2B7;
	border-collapse: collapse;
}
th, td {    
	border: 1px solid #A19E86;
    padding: 10px;
	
}

	