$background: rgba(198, 238, 252, 0.53);
$brief_background: #fff178;
$brief_text_color: #000000;
$content_background: #3b3b3b;
$header_color: #fccd10;
$border_color: #fccd10;
$text_color: #ffffff; 
$link_color: #fccd10;
$table_header_background: #94a34e;
$table_background: #677d01;
$form_text_color: #f5c70f;
$textarea_color: #808080;
$submit_color: #f5c70f;
$brief_floating: none;
$heding_case: uppercase;
$text_align: center;
$width: 920px;