$background: #dcbb9a;
$brief_background: #fadcba;
$brief_text_color: #000000;
$content_background: #ffffff; 
$header_color: #893c00;
$border_color: #893c00;
$text_color: #000000; 
$link_color: #3d70a1;
$table_header_background: #e0e0e0;
$table_background: #ffffff;
$form_text_color: #808080;
$textarea_color: #808080;
$submit_color: #3d70a1;
$brief_floating: left;
$heding_case: none;
$text_align: left;
$width: 380px;